<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">MisionTIC</h5>
        <p class="grey-text text-lighten-4">Equipo 7 - Grupo 20 </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Miembros de equipo</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Juan Camilo Sandoval</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Alejandra Riveros</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Haidy Johana Peña</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Elian Velez</a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="footer-copyright">
    <div class="container">
      © 2021 Copyright Text
      <a class="grey-text text-darken-1 right" href="#!">Todos los derechos reservados. Mintic2022</a>
    </div>
  </div>
</footer>
